* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* CLASSI GENERICHE */

.up_case {
  text-transform: uppercase;
}

.f_size_12 {
  font-size: 12px;
}

.gr {
  color: grey;
}

.wh {
  color: #fff;
}

.m_top_30 {
  margin-top: 30px;
}

.display_bl {
  display: inline-block;
}

/* ASIDE */

.control-panel {
  width: 300px;
  background-color: #000;
  height: 100vh;
  float: left;
}

.control-panel a {
  text-decoration: none;
  color: grey;
}

.logo {
  height: 50px;
}

#home {
  color: #fff;
}

.crea_playlist {
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: relative;
  vertical-align: middle;
}

.plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_profile {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: grey;
  vertical-align: middle;
  position: relative;
}

/* DIV UPGRADE */

.upgrade {
  width: calc(100vw - 300px);
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.btn_upgrade {
  border: 1px solid #fff;
  padding: 5px 25px;
  border-radius: 28px;
}

.upgrade a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

/* MAIN */

.main-content {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #191413;
  padding: 0 20px 20px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  float: left;
}

.generi {
  width: 100%;
  height: 30px;
  margin-top: 80px;
  text-align: center;
}

.generi ul li {
  display: inline-block;
  list-style: none;
  font-size: 12px;
  padding: 0 10px;
}

.generi ul li a {
  text-decoration: none;
  color: #fff;
}

.generi ul li a:hover {
  border-bottom: 1px solid yellow;
}

.sections_layout {
  display: flex;
  flex-direction: column;
}

.albums_list {
  width: calc(100% - 20px);
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
}

.box_album {
  width: 150px;
  height: 100%;
  background-color: yellow;
  display: inline-block;
  margin: 0 6px;
}

.photo_album {
  width: 150px;
  height: 150px;
  background-color: red;
}

.creato_per_te {
  margin-top: 30px;
}

.artisti_popolari {

}

/* FOOTER */

.player {
  width: 100vw;
  height: 100px;
  background-color: darkgray;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
}
