* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
}

/* CLASSI GENERICHE */

.up_case {
  text-transform: uppercase;
}

.f_size_12 {
  font-size: 12px;
}

.f_weight_400 {
  font-weight: lighter;
}

.gr {
  color: grey;
}

.wh {
  color: #fff;
}

.m_top_20 {
  margin-top: 20px;
}

.m_top_5 {
  margin-top: 5px;
}

.m_bottom_5 {
  margin-bottom: 5px;
}

.display_bl {
  display: inline-block;
}

.b_radius_100 {
  border-radius: 100%;
}

/* ASIDE */

.control-panel {
  width: 300px;
  background-color: #000;
  height: calc(100vh - 70px);
  padding: 15px;
  position: relative;
}

.control-panel a {
  text-decoration: none;
  color: grey;
}

.box_logo {
  height: 70px;
}

.logo {
  height: 60px;
}

.main-nav ul li {
  padding: 5px 0;
}

/*#home {
  color: #fff;
}*/

.small_icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.crea_playlist {
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: relative;
  vertical-align: middle;
}

.plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.elenco-playlist {
  max-height: 250px;
  overflow: auto;
}

.elenco-playlist ul li {
  padding: 5px 0;
}

.profilo {
  width: calc(100% - 30px);
  margin-left: 15px;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.img_profile {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: grey;
  vertical-align: middle;
  position: relative;
}

/* DIV UPGRADE */

.upgrade {
  width: calc(100vw - 300px);
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.btn_upgrade {
  border: 1px solid #fff;
  padding: 5px 25px;
  border-radius: 28px;
}

.upgrade a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

/* MAIN */

.main-content {
  width: calc(100vw - 300px);
  height: calc(100vh - 70px);
  background-color: #191413;
  padding: 0 20px 20px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.generi {
  width: 100%;
  height: 30px;
  margin-top: 80px;
  text-align: center;
}

.generi ul li {
  display: inline-block;
  list-style: none;
  font-size: 12px;
  padding: 0 10px;
}

.generi ul li a {
  text-decoration: none;
  color: #fff;
}

.generi ul li a:hover {
  border-bottom: 1px solid yellow;
}

.sections_layout {
  display: flex;
  flex-direction: column;
}

.albums_list {
  width: calc(100% - 20px);
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  background-color: trasparent;
}

.albums_list::after {
  content: "";
  display: block;
  clear: both;
}

.box_album {
  width: 150px;
  height: 100%;
  background-color: trasparent;
  display: inline-block;
  margin: 0 6px;
  text-align: center;
}
/*
.box_album::after {
  content: "";
  display: block;
  clear: both;
}*/

.photo_album {
  width: 150px;
  height: 150px;
  background-color: red;
}


/* FOOTER */

.player {
  width: 100vw;
  height: 70px;
  background-color: #48403E;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

.blue {
  background-color: trasparent;
}

.brano {
  flex-basis: 25%;
  display: flex;
  flex-direction: row;
}

.album_mini {
  width: 40px;
  height: 40px;
}

.album_mini img {
  width: 100%;
  height: 100%;
}

.nome_brano {
  width: 100px;
  height: 50px;
  margin: 0 10px;
}

.actions {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.controller {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
}

.brano_secs {
  width: 10%;
  height: 50%;
  margin-top: 15px;
  line-height: 65px;
  text-align: center;
}

.pad_5 {
  padding: 0 5px;
}

.pad_10 {
  padding: 0 10px;
}

.f_size_24 {
  font-size: 24px;
}

.m_left_15 {
  margin-left: 15%;
}

.status_brano {
  width: 50%;
  height: 50%;
  margin-top: 15px;
  border-bottom: 3px solid #fff;
  text-align: center;
}

.volume {
  flex-basis: 25%;
  display: flex;
  flex-direction: row-reverse;
}

.actions2 {
  height: 50%;
  line-height: 65px;
}

.linea {
  width: 30%;
  height: 48%;
  margin: 0 10px;
  border-bottom: 3px solid #fff;
}

.border {
  border: 1px solid #000;
}
